[Unit]
Description=Super Micro Fan Control
Requires=openipmi.service
After=syslog.target openipmi.service

[Service]
Type=simple
ExecStart=/usr/local/bin/smfc.py -l 3 -c /usr/local/etc/smfc/smfc.conf
[Install]
WantedBy=multi-user.target
